body {
  text-align: center;
  font-family: arial;
}

.mcont, .favi {
  width: 400px;
  margin: auto;
}

.mcont {float:left;}

##div.mcont:nth-of-type(1) {visibility: collapse;}

img {
  max-width: 100%;
}

