body {
  text-align: center;
  font-family: arial;
  margin: auto;
  width: 600px;
}

summary {background: black; width: 100%; color: white; font-family: monospace; border-left: 6px white double; border-right: 6px white double; padding: 2px;}

#SPF {margin: auto;}

.mcont, .favi {
  width: 295px;
  margin: auto;
}

.mcont {float:left;}
.fname {font-weight: bold;}
.fpro {margin-bottom: 10px; color: grey;}
.mcont:nth-of-type(1) {visibility: hidden;overflow: hidden; width:1px!important;}

.flag-div {margin-top: 20px; clear:both; text-align: justify;
  line-height: 200px;
  line-height: 1.4;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8em;}
.flag {width: 25%; margin-left: 15px; margin-right: 15px; margin-bottom: 10px;}
.left {float: left;}
.right {float: right;}
img {
  max-width: 100%;
}

